<div id="Form" class="panel panel-center no-rounding" style="background-color: #fff; padding:0;">
    <div class="panel-header red-bg no-rounding" style="text-align:center;vertical-align:middle;margin-bottom:20px;">
        Profile Info
    </div>
    <div style="width: 20%; float: right;">
        <img core-name="avatar" style="width: 100%; " />
    </div>
    <form style="width: 78%; float: left; margin-left: 10px;" autocomplete="on" onsubmit="return false;" class="no-rounding">
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Username / Email" type="text" core-name="username" id="username" autocomplete="on" name="email" core-validate="email,length-max|125"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="First Name" type="text" core-name="first" id="first" autocomplete="on" name="first-name" core-validate="exists,length-max|35"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Nick Name" type="text" core-name="nick" id="nick" autocomplete="on" name="additional-name" core-validate="length-max|35"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Last Name" type="text" core-name="last" id="last" autocomplete="on" name="last-name" core-validate="exists,length-max|35"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Display Name" type="text" core-name="display" id="display" autocomplete="on" name="full-name" core-validate="length-max|70"/>
            <div class="clearFloats"></div>
        </div>

        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Birth Date" type="text" core-name="dob" id="dob" autocomplete="on" name="birthday" core-validate="" core-format="isoDate"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <div style="float:left;margin:4px;">
                <div class="label" style="font-size:13px;min-width:70px;">Female</div>
                <input type="radio" core-name="female" name="gender" value="false" />
                <div class="clearFloats"></div>
            </div>
            <div style="float:left;margin:4px;">
                <div class="label" style="font-size:13px;min-width:70px; margin-left:6px;">Male</div>
                <input type="radio" core-name="male" name="gender" value="true" />
                <div class="clearFloats"></div>
            </div>
        </div>

        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Phone" type="text" core-name="phone" id="phone" autocomplete="on" name="phone" core-validate="" core-format="phone"/>
            <div class="clearFloats"></div>
        </div>

        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Address 1" type="text" core-name="address_1" id="address_1" autocomplete="on" name="street" core-validate="length-max|125"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Address 2" type="text" core-name="address_2" id="address_2" autocomplete="on" name="" core-validate="length-max|125"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="City" type="text" core-name="city" id="city" autocomplete="on" name="city" core-validate="length-max|50"/>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <select class="input simple no-label border-bottom-red" placeholder="State" core-name="state" id="state" core-list="states" autocomplete="on" name="state">
                <option value="">-- Select State --</option>
            </select>
            <div class="clearFloats"></div>
        </div>
        <div class="core-input-container">
            <input class="input simple no-label border-bottom-red" placeholder="Zip" type="number" core-name="zip" id="zip" autocomplete="on" name="zip" core-validate="length-max|15"/>
            <div class="clearFloats"></div>
        </div>

    </form>
    <div class="clearFloats"></div>

    <div class="actions-container">
        <button id="SaveButton" class="btn-primary btn-burgandy color-1" onclick="page.profile.general.save();" style="padding: 8px; margin: 4px; float: right;">Save</button>
        <button id="CancelButton" class="btn-primary btn-burgandy color-1" onclick="page.profile.general.load();" style="padding: 8px; margin: 4px; float: right;">Cancel</button>
    </div>
</div>


