input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill { background-color: transparent !important; color: inherit !important; }
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #666;
}

header {
    font-size: 1em;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    background-color: #FFF;
}

header::after {
    content: '';
    display: block;
    clear: both;
}

header .header-login {
    float: right;
    margin-right: 20px;
}

footer {
    color: #999;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

footer::after {
    content: '';
    display: block;
    clear: both;
}

footer a {
    display: inline-block;
    line-height: 25px;
    float: left;
    margin-left: 30px;
    color: #777;
}

footer a:visited {
    color: #777;
}

footer a:hover {
    color: #000;
}

footer .footer-version {
    float: right;
    text-align: right;
    font-size: 75%;
    line-height: 12px;
    margin-right: 24px;
}

menu {
    margin: 0px;
    padding: 0px;
    border: none;
}
menu.light{
    background-color: rgba(255,255,255,.3);
}
menu.dark{
    background-color: rgba(0,0,0,.1);
    color: #111;

}
menu a {
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
menu.light a, menu.light a:visited {
    color: #EEE;
}
menu.dark a, menu.dark a:visited {
    color: #111;
}

.core-container {
    position: relative;
    margin: 0 auto;
    background-color: #EEE;
}

.core-body {
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-on .core-body {
    top: 55px;
    height: calc(100% - 55px);

}

.header-on .footer-on .core-body {
    top: 55px;
    height: calc(100% - 80px);

}

.color-1 {
    background: #990000 !important;
}
.font-color-1 {
    color: #990000 !important;
}
.color-2 {
    background: #E5E5E5 !important;
}
.color-2:hover, .color-2:focus {
    background:#E1E1E1 !important;
}
.font-color-2 {
    color: #464141 !important;
}

.btn-primary {
    border-radius: 6px;
}

.btn-secondary {
    border-radius: 6px;
}

.btn-burgandy, .btn-burgandy:hover, .btn-burgandy:focus, .btn-orange:focus {
    border: solid 1px;
}

.panel {
    padding: 2%;
    border-radius: 2%;
    border-width: 0px;
    background-color: rgba(0, 0, 0, .3);
    min-width: 310px;
    width: 94%;
    margin: 1% auto;
}

@media (min-width: 700px) {
    .panel {
        width: 44%;
        margin: 1%;
    }
}

.panel-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.panel-header {
    color: #EEE;
    font-size: 150%;
    padding-bottom: 10px;
}

.panel-header-alternate {
    font-size: 200%;
    font-weight: 700;
    text-align: center;
}

.core-input-container {
    padding: 5px 0px;
}

.core-input-container .icon-remove-sign {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
}

.label {
    color: #999;
    width: 23%;
    text-align: right;
    padding-right: 1%;
    float: left;
    min-width: 80px;
}

.input {
    float: left;
    width: 72%;
}
.input.no-label {
    float: left;
    width: 98%;
}
input.simple {
    line-height: 20px;
    background-color: rgba(255, 255, 255, .90);
    text-indent: 1%;
}

select.simple {
    line-height: 20px;
    background-color: rgba(255, 255, 255, .90);
    text-indent: 1%;
}

select {
    color: #aaa;
}
select option {
    color: #555;
}

input.simple-large {
    line-height: 40px;
    background-color: rgba(255, 255, 255, .90);
    text-indent: 1%;
    margin: 5px auto;
    padding: 3px;
    font-size: 120%;
}
select.simple-large {
    height: 42px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, .90);
    text-indent: 1%;
    margin: 5px auto;
    padding: 3px;
    font-size: 120%;
}
input.border-bottom-red, select.border-bottom-red {
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:1px;
    border-color: #afafaf;
    border-bottom-style: solid;
    border-radius: 1px;
    background-color: transparent !important;
}
input.border-bottom-red:focus, select.border-bottom-red:focus {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: #990000;
    border-radius: 1px;
    border-bottom-width: 1px;
}
div.hb-link {
    cursor: pointer;
}
div.hb-link:hover, div.hb-link:focus {
    color: #990000;
}

.cube {
   width: 80%;
   left: 4%;
   height: 100px;
   margin: auto;
   text-align: center;
   line-height: 5;
}

.core-error-marker {
    background-image: url(/images/infowarnerror.png?${timestamp});
    background-position: 0;
}

.core-notify-anchor {
    width: 20px;
    height: 24px;
    background-image: url(/images/scroll_blank.png?${timestamp});
}
.core-notify-message {
    background-color: rgba(0, 0, 0, .6);
    color: #EEE;
    padding:5px;
    font-size: 60%;
}
.core-notify-message-title[core-notify-type="info"] {
    background-repeat: no-repeat;
    background-image: url(/images/infowarnerror.png?${timestamp});
    background-position: 0;
}

.core-prompt-container {
    background-color: #EEE;
}

.link {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}
.link:focus, .link:hover, .link:active, .link:active:focus {
    color: blue;
}

.red-bg {
    background-color: #990000;
}

.no-rounding {
    border-radius: 0;
}

.context-body {
    position: absolute;
    overflow: auto;
    padding-top: 28px;
}
.context-body-bottom {
    width: 100%;
    height: calc(90% - 28px);
    top: 10%;
}
.context-body-right {
    width: 80%;
    left: 20%;
    height: calc(100% - 28px);
}
.context-menu {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.2);
    background: rgba(0,0,0,.1);
    font-weight: 600;
    text-indent: 3px;
}

.context-menu-top {
    width: 100%;
    height: calc(10% - 28px);
}

.context-menu-left {
    width: 20%;
    height: calc(100% - 28px);
    padding-top: 28px;
}

.font-color-light {
    color: #EEE;
}
.font-color-dark {
    color: #333;
}
.hidden-authentication {
    display: none;
}

.actions-container {
    position: absolute;
    bottom: 0px;
    right:0px;
}
.core-tabstrip-horizontal .core-tabstrip-item {
    padding: 5px;
    font-size: 125%;
}