@media (max-width:4800px) {
    .left-half{ width:50%; }
    .left-half{ display:block; }
    .right-half{ width:50% }
}
@media (max-width:768px) {
    .left-half{ display:none; }
    .right-half{ width:100% }
}
