<footer>
    <div class="footer-version">
        <span>${project.version}</span>
        <br />
        <span>${timestamp}</span>
    </div>
    <span style="float: left; line-height: 25px; margin-left: 5px;">&copy; Heart Zones</span>
    <a title="Privacy Policy" href="/privacy-policy.html">Privacy Policy</a>
    <a title="Terms of Service" href="/terms-of-service.html">Terms of Service</a>
</footer>