<header>
    <span class="header-login">
        <button id="loginButton" class="btn-primary" authenticated="false" onclick="page.auth.login(); return false;"
                style="padding: 8px; margin-top:10px;">Login</button>
        <div authenticated="true" core-name="session.display" onclick="location.href = '/profile';" style="line-height: 25px;  cursor: pointer; "></div>
         <a id="logout" authenticated="true" onclick="page.auth.logout(); return false;" class="link" style="line-height: 20px; font-size=80%; float: right; cursor: pointer; ">logout</a>
        <div class="clearFloats"></div>
    </span>

    <button id="registerButton" class="btn-primary" onclick="location.href = '/register';" authenticated="false"
            style="padding: 8px; margin-top:10px; float: right; margin-right: 6px;">Register</button>

    <img src="/images/logos/2-1.png?${timestamp}" style="height: 100%; float:left;"/>
    <!--<img src="/images/logos/3-1.png" style="height: 100%; float:left;"/>-->
</header>

