<div class="core-input-container">
    <input class="input simple no-label border-bottom-red" type="text" core-name="name" placeholder="business name"/>
</div>
<div class="clearFloats"></div>

<div class="core-input-container">
    <input class="input simple no-label border-bottom-red" type="text" core-name="address.line1" id="line1" name="address-line1"
           autocomplete="on" style="width: 100%; margin-top: 5px;" placeholder="address"/>
    <div class="clearFloats"></div>
    <!--<input class="input simple no-label border-bottom-red" type="text" core-name="address.line2" id="line2" name="address-line2"
           autocomplete="on" style="width: 100%; margin-top: 5px; "/>
    <div class="clearFloats"></div>-->
    <input class="input simple no-label border-bottom-red" type="text" core-name="address.city" id="city" name="city" autocomplete="on"
           style="width: 100%; margin-top: 5px;" placeholder="city"/>
    <div class="clearFloats"></div>

    <div class="input" style="width:100%;">
        <select class="simple no-label border-bottom-red" type="text" core-list="states" core-name="address.state" id="state"
                name="state" autocomplete="on" placeholder="state" style="width: 55%; margin-top: 5px; padding: 1px 0;">
            <option value="">-- Select State --</option>
        </select>
        <input class="simple no-label border-bottom-red" type="text" core-name="address.zip" id="zip" name="zip" autocomplete="on"
               placeholder="zip" style="width: 40%; margin-top: 5px; float: right; "/>
    </div>
    <div class="clearFloats"></div>
</div>