<div row="true">
    <div core-name="id" style="float: left; width: 5%; line-height: 40px; overflow: hidden; min-width: 20px; "></div>
    <div  style="float: left; width: 25%; overflow: hidden; min-width: 25x; ">
        <div core-name="owner_display"></div>
        <div core-name="owner_email"></div>
    </div>
    <div  style="float: left; width: 25%; overflow: hidden; min-width: 100px;">
        <div core-name="name"></div>
        <div core-name="created" style="font-size: 60%;" core-format="isoDate"></div>
    </div>
    <div style="float: left; width: 20%; overflow: hidden; min-width: 100px;">
        <div core-name="licenses" style="" ></div>
        <div core-name="expires" style="font-size: 60%;" core-format="isoDate"></div>
    </div>
    <div style="float: left; width: 10%; min-width: 30px;">
        <button actions="extend" title="Extend License" class="hidden btn-primary" style="float: left; line-height: 20px; width: 100%; max-width: 75px; margin: 3px;" >Extend</button>
        <button actions="upgrade" title="Upgrade License" class="hidden btn-primary" style="float: left; line-height: 20px; width: 100%; max-width: 75px; margin: 3px; " >Upgrade</button>
    </div>
    <div class="clearFloats"></div>
</div>