<div id="system-dash-summary"></div>
<div id="accounts-filter">
    <div class="clearFloats"></div>
</div>
<div id="accounts-header">
    <div style="float: left; width: 5%; overflow: hidden; min-width: 20x; ">ID</div>
    <div style="float: left; width: 25%; overflow: hidden; min-width: 25x; ">Owner</div>
    <div style="float: left; width: 25%; overflow: hidden; min-width: 100px;">Account</div>
    <div style="float: left; width: 20%; overflow: hidden; min-width: 100px;">License</div>
    <div class="clearFloats"></div>
</div>
<div core-name="accounts" core-view="/system/account-row.htm"></div>