.core-body {
}
[row] {
    color: #333;
    background-color: rgba(255,255,0255, .6);
    padding-left: 6px;
}
[row]:nth-child(even) {
    color: #eee;
    background-color: rgba(0,0,0, .6);
}
#accounts-header {
    color: #eee;
    background-color: rgba(0,0,0, .6);
    padding: 6px;
    font-size: 120%;
    font-weight: bold;
    border-bottom: solid 2px #fff;
}
#accounts-filter {
    color: #333;
    background-color: rgba(255,255,0255, .6);
    padding-left: 2%;
    padding-right: 2%;
    min-height: 30px;
    position: relative;
}
#accounts-filter .core-input-container {
    float: left;
    width: 20%;
    min-width: 100px;
}
#accounts-filter .label {
    color: #333;
    font-size: 80%;
    width: 95%;
    text-align: left;
}
#accounts-filter input, #accounts-filter select {
    color: #333;
    font-size: 80%;
    width:  95%;
}
i[action|=delete] {
    position: absolute;
    font-size: 110%;
    top: 8px;
    right: 5%;
}

i[action|="add-field-button"] {
    position: absolute;
    right: 0px;
    top: 0px;
}
#accounts-filter-fields-list {
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: rgba(0,0,0,.6);
    color: #eee;
    padding: .5%;
}
#accounts-filter-fields-list:nth-child(even) {
    background-color: rgba(0,0,0,.8);
}
div[action|=add-field] {
}
#system-dash-summary {
    height: 100px;
    width: 100%;
    background-color: #FFF;
}